# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Drive\XLR8-Docker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
